.about-heading {
    text-align: center;
    margin-top: 2rem;
}

.about-content h3 {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: .8rem;
    padding-left: .5rem;
}

.about-content {
    /* line-height: 1.6rem; */
    color: #002D27;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 1.5rem 2rem 1.5rem;
}

/* Colors */

.developers {
    --color-heading: #4C76AD;
    --color-text: #1D2D42;
}

.first-sprint {
    --color-heading: #2a65a8;
    --color-text: hwb(209 11% 69%);
}

.second-sprint {
    --color-heading: #007665;
    --color-text: hsl(170, 43%, 13%);
}

.third-sprint {
    --color-heading: #B75E38;
    --color-text: #33190F;
}

.fourth-sprint {
    --color-heading: #AEB72D;
    --color-text: #33350D;
}

.fifth-sprint {
    --color-heading: hsl(318, 28%, 38%);
    --color-text: hwb(319 12% 79%);
}

.sixth-sprint {
    --color-heading: hwb(0 11% 47%);
    --color-text: hwb(0 8% 79%);
}

.seventh-sprint {
    --color-heading: hwb(125 8% 37%);
    --color-text: rgb(15, 65, 19);
}

.sprints > * {
    color: var(--color-text, black);

    & h1,
    & h2,
    & h3 {
        color: var(--color-heading, black);
    }
}

@media (min-width: 1000px) {
       
    .about-content {
        display: grid;
        grid-template-columns: 2.2fr .8fr;
    }

    .about-content > * {
        padding: 2rem;
    }
    
    .main-text {
        grid-column: 1 / 2;
    }
    
    .developers {
        grid-column: 2 / 3;
    }

    .developers ul {
        padding-left: 1.4rem;
    }

    .fourth-sprint {
        grid-column: 1 / 3;
    }

    .sprints {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }
}

/* Sprints menu on mobiles */
@media (max-width: 1000px) {
    
    .sprint {
        display: grid;
        grid-template-rows: min-content 0fr;

        transition: grid-template-rows .2s ease;
    }

    .sprint h3::before {
        display: inline-block;
        content: "";
        width: 0;
        border-width: .5rem;
        border-color: transparent transparent transparent #4C76AD;
        border-style: solid;
        scale: 1.2 .8;
        -webkit-transform: translate(0 .1rem);
        -moz-transform: translate(0 .1rem);
        -o-transform: translate(0 .1rem);
        transform: translate(0 .1rem);
        transform-origin: 20% 35%;

        transition: rotate .2s;
    }

    .sprint h3.active::before {
        rotate: 90deg;
    }

    .sprint-content {
        padding-left: 1rem;
        padding-right: 1rem;
        overflow: hidden;
    }
}