
.about-heading {
    text-align: center;
    margin-top: 5vw;
}

h3 {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: .8rem;
}

.about-content {
    line-height: 1.6rem;
    color: #002D27;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr .2fr .8fr;
}

.about-content > * {
    padding: 2rem;
}

.about-content .main-text {
    grid-column: 1 / 4;
}

.about-content .developers {
    color: #1D2D42;
    grid-column: 4 / 5;
}

.about-content .third-sprint {
    color: #33190F;
}

.about-content .fourth-sprint {
    grid-column: 3 / 5;
    color: #33350D;
}

.about-content .developers ul {
    padding-left: 1.4rem;
}

.about-content .developers h3 {
    color: #4C76AD;
}

.about-content .second-sprint h3 {
    color: #007665;
}

.about-content .third-sprint h3 {
    color: #B75E38;
}

.about-content .fourth-sprint h3 {
    color: #AEB72D;
}