h1 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
}

.demo-outer-container {
    margin: 2rem auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.demo-outer-container > div {
    padding: 1rem 2rem;
}

.demo-card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;    
    border-radius: 5px;
    margin-bottom: 1rem;

    cursor: default;
}

.demo-card.unlocked {
    background-color: #78d6c6;
    color: #F5FCFF;
    text-shadow: 0 0 10px #78d6c6;
}

.demo-card.unlocked,
.demo-card.disabled {
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.demo-card.unlocked:hover {
    background-color: #82E5D3;
    text-shadow: 0 0 10px #fff;
}

.demo-card.locked {
    background-color: #97C3BC;
    color: #70838E;
}

.demo-card.disabled:hover {
    filter: brightness(85%);
}

.demo-card.disabled {
    background-color: #68B7A9;
    color: #495C68;
}

.demo-card h2, .demo-card p {
    margin: 1rem auto;
}

.demo-card p {
    font-size: 1.1em;
}

.demo-card-date span {
    font-size: .8em;
}

.demo-outer-container > *::after {
    content: "No demos";
    color: #777;
    font-style: italic;
    font-size: 1.5rem;
    display: block;
    margin-bottom: .5rem;
    text-align: center;
}

.demo-outer-container > *:has(.demo-card)::after {
    display: none;
}

@media (min-width: 1280px) {
    .demo-list {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}