.grades-graph {    
    --item-gap: 2%;
    --item-default-color: #060606;
    aspect-ratio: 2 / 1;
    margin-top: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 0fr 1fr;
    gap: var(--item-gap);
    align-items: end;
    padding: 1.5rem 1rem 2.5rem 1rem;
    position: relative;
    isolation: isolate;
}

.grades-graph > .item{
    grid-row: 2 / -1;
    height: calc(1% * var(--val));
    background-color: var(--clr);
    position: relative;
}

.grades-graph > .item > * { 
    position: absolute; text-align: center;
}

.grades-graph > .item > .label { 
    inset: calc(100% + .2rem) 0 auto 0;
}

.grades-graph > .item > .value { 
    inset: auto 0 100% 0 ;
}

@media (min-width: 750px) { 
    .graphs-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }

    .centered {
        grid-column: 1 / -1;
        width: 75%;
        margin: 3rem auto 0 auto;
        aspect-ratio: 3 / 1;
    }

    .statistics-content .grades-graph {
        --item-gap: 5%;
    }

    .voting-content .graphs-container {
        font-size: .8em;
    }

    .voting-content .graphs-container h3 {
        font-size: 1em;
    }

    .voting-content .graph-inner.centered {
        margin-top: 1rem;
    }

    .graph-inner {
        position: relative;
    }

    .grades-graph {
        position: absolute;
        bottom: 0;
    }
}
