html, body {
    height: 100%;
    position: relative;
}

.spinner-container {
    display: inline-block;
    position: absolute;
    inset: 50% 0% 0% 50%;
    transform: translate(-50%, -50%);
}

#spinner {
    border-radius: 60% 35% 60% 40%;

    transform-origin: center;
    transform: rotate(0deg);
    transition: none;
}

#spinner.active {
    transform: rotate(-720deg);
    transition: transform 1s ease;
}