.profile-content {
    margin: 4rem auto 2rem auto;
    max-width: max-content;
}

h1, h2, h3 {
    margin: 0;
}

.profile-content > * {
    margin-bottom: 1rem;
    padding: 1rem;
}

.account-card {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.invitations-card {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.team-card {
    grid-column: 2 / 3;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
}

.account-card h1 {
    text-align: start;
    margin: 0 0 1rem 0;
}

.account-card button, 
.team-card button {
    margin: 1rem auto 0 0;
    width: 100%;
    min-width: min-content;

    font-size: 1rem;
    padding: 1rem .5rem;
    border-radius: 5px;
    border: 0px solid transparent;
    cursor: pointer;
    background-color: #FFC5BC;

    transition: background-color .15s;
}

.account-card button:hover,
.team-card button:hover {
    background-color: #E2AFA7;
}

.invitation {
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #999;

    padding: .5rem .5rem .5rem 1rem;
    gap: .5rem 1rem;
    
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr 1fr;
}

.invitation > * {
    margin: auto;
}

.invitation h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.invitation p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.invitation button {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 0px solid;
    padding: auto;
    cursor: pointer;
    justify-self: end;

    transition: filter .1s;
    filter: brightness(100%);
}

.invitation button:hover {
    filter: brightness(90%);
}

.invitation button:active {
    filter: brightness(80%);
}

.invitation .accept-button {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: hsl(108, 60%, 90%);
}

.invitation .decline-button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: hsl(8, 100%, 90%);
}

.team-card .leave-button {
    margin-top: auto;
}

@media (min-width: 750px) {
    .profile-content {
        display: grid;
        gap: 1rem;
        grid-template-columns: max-content max-content;
        grid-template-rows: 1fr max-content;
    }

    .profile-content > * {
        margin: 0;
    }
}