.statistics-content {
    margin: 2rem auto;
    padding: 1rem 1rem 2rem 1rem;
    max-width: 700px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h3 {
    margin: 1rem auto;
}

#comments-container::after {
    content: "No comments";
    font-size: 1.2rem;
    font-style: italic;
    color: #777;
}

#comments-container:has(.comment)::after {
    display: none;
}

.comment {
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 1rem;
    padding: 1rem 1rem;
}

.comment > p {
    text-align: start;
    margin: 0;
}

.comment > h3 {
    margin: 0 auto .5rem 0;
    text-align: start;
    font-size: 1.2rem;
}

.grades-container {
    margin: 2rem auto;
}