<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>360 About</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/cookie.js"></script>
	<script src="../js/navbar.js"></script>
	<script src="../js/redirects.js"></script>
</head>

<body class="body-about-page with-nav-bar">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<nav> <!-- Will be loaded by navbar.js --> </nav>

	<div class="container w-auto d-table px-5">
		<h1 class="text-center mb-5">360 Project</h1>
		<div class="row">
			<p class="text-left">Our sophomore team faced the problem of having our projects graded by our professors. Grading is not always objective and it is not very convenient for the teacher to assign and store grades. We decided to create our own web service offering special functionality for demo projects. There are 4 grades in total: sophomore, fourth-year, instructor and administrator. Everyone can grade those who are not above their grade. The faculty member has the ability to add a new demo. There will be an option to select a team and grade. Basically, it's a cool improvement to google forms, allowing you to see other people's grades and comments and collect stats.

				<br><br><b>Second sprint.</b> We managed to create registration and login, a list of existing demos. For the next sprint we plan to create the ability to rate and add a comment, a nice profile, statistics. A lot of work has been done, not all functionality has been added to the sprint.</p>
		</div>
		<div class="row mt-4">
			<h3 class="text-center">Developers</h3>
			<p class="text-center my-1">Sidorkin Dmitry</p>	
			<p class="text-center my-1">Mozhaev Vasily</p>	
			<p class="text-center my-1">Goryachkin Andrey</p>	
			<p class="text-center my-1">Smythe Robert</p>	
			<p class="text-center my-1">Andriyanov Alexander</p>	
		</div>
	</div>
</body>

</html>