<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360 About</title>
    <link href="/img/ico2.ico" rel="icon">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/about.css">

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/cookie.js"></script>
	<script src="/js/navbar.js"></script>
	<script src="/js/about.js"></script>
	<script src="/js/redirects.js"></script>

</head>
<body class="body-about-page with-nav-bar">
    <nav> <!-- will be loaded by navbar.js --> </nav>

    <h1 class="about-heading">About project</h1>

    <div class="about-content">
        <div class="main-text">
            <p>Our second-grade team faced the problem of having our projects graded by our professors. 
            Grading is not always objective and it is not very convenient for the teacher to assign 
            and store grades. We decided to create our own web service offering special functionality 
            for demo projects. 
            There are 4 roles in total: 
            <ul>
                <li>second-grade</li>
                <li>fourth-grade</li>
                <li>teacher</li>
                <li>administrator</li>
            </ul>
            Everyone can grade those who are not above their grade. The teacher 
            has the ability to add a new demo. There will be an option to select a team and role. 
            Basically, it's a cool improvement to Google Forms, allowing you to see other people's grades 
            and comments and collect stats.</p>
        </div>

        <div class="developers">
            <h3>Developers</h3>
            <ul>
                <li>Sidorkin Dmitry</li>
                <li>Mozhaev Vasily</li>
                <li>Goryachkin Andrey</li>
            </ul>
        </div>

        <div class="sprints">
            <div class="first-sprint sprint">
                <h3 onclick="foldUnfoldContent(this)">First sprint</h3> 
                <div class="sprint-content">
                    We managed to create registration and login, a list of existing demos. 
                    For the next sprint we plan to create the ability to rate and add a comment, a nice profile, 
                    statistics. A lot of work has been done, not all functionality has been added to the sprint
                </div>
            </div>

            <div class="second-sprint sprint">
                <h3 onclick="foldUnfoldContent(this)">Second sprint</h3> 
                <div class="sprint-content">
                    We managed to create registration and login, a list of existing demos. 
                    For the next sprint we plan to create the ability to rate and add a comment, a nice profile, 
                    statistics. A lot of work has been done, not all functionality has been added to the sprint
                </div>
            </div>
    
            <div class="third-sprint sprint">
                <h3 onclick="foldUnfoldContent(this)">Third sprint</h3>
                <div class="sprint-content">
                    A major feature of this project has now been added: demo voting. Every student can register, 
                    go to the <i>Demo</i> page, and vote for each team according to certain criteria. All scores are 
                    stored in a database, and in the future it will be possible to view statistics for each team
                </div>
            </div>
    
            <div class="fourth-sprint sprint">
                <h3 onclick="foldUnfoldContent(this)">Fourth sprint</h3>
                <div class="sprint-content">
                    A lot of work has been done on the site design: simple inscriptions in black and white have been 
                    replaced by beautiful coloring in a certain color palette. The design of the voting page in the 
                    demo has been updated. But that`s not all. The most important job was the implementation of in-team voting technology. 
                    So, now you can invite your friend-teammate to your team or if you not in team you can ask him to invite you! 
                    And you can see all of you friends-teammates. You can even leave your team if your friends-teammate aren`t such friends after all. 
                    And this is all for in-team voting. If your teammate`s very lazy, you can remind him of this during demo time. 
                    Also we added features such as password changing. Oh, yes! We founded some bugs and fixed them. It`s obvious. 
                    And of course, we didn`t write tests
                </div>
            </div>
    
            <div class="fifth-sprint sprint">
                <h3 onclick="foldUnfoldContent(this)">Fifth sprint</h3>
                <div class="sprint-content">
                    The most important part of the project has been successfully added - statistics for each demo for a user with administrator rights. 
                    This includes contrasting bars for each characteristic: difficulty, quality of presentation, level of completion and extra points. 
                    We have also added the display of avatars and successfully transferred data from Google Docs.
                </div>
            </div>
    
            <div class="sixth-sprint sprint">
                <h3 onclick="foldUnfoldContent(this)">Sixth sprint</h3>
                <div class="sprint-content">
                    Pavel asked us to add password hashing, and we have successfully done so. We have also ensured that all team members are now in place. 
                    It is now possible to vote within the team not only during the demo, and requests are now sent asynchronously. 
                    These changes have significantly improved optimization
                </div>
            </div>
    
            <div class="seventh-sprint sprint">
                <h3 onclick="foldUnfoldContent(this)">Seventh sprint</h3>
                <div class="sprint-content">
                    Eventually, we have prepared our project for production release. We have added information about each person's contribution to the project. 
                    It is calculated using a special formula.
                    You can see a graph of your progress by sprint. An import of the assessment database into a convenient table for the teacher was created. 
                    You can also add photos to your profile in various formats
                </div>
            </div>
        </div>
    </div>
</body>
</html>