<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360 Demo</title>
    <link href="/img/ico2.ico" rel="icon">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/demo.css">

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/navbar.js"></script>
	<script src="/js/redirects.js"></script>
	<script src="/js/demo.js"></script>

</head>
<body class="body-demo-page with-nav-bar">
    <nav> <!-- will be loaded by navbar.js --> </nav>

    <div class="demo-content">
        <div class="demo-outer-container">
            <div class="white-card">
                <h1>Available Demos</h1>
                <div id="available-demos" class="demo-list"></div>
            </div>
            <div class="white-card">
                <h1>Past Demos</h1>
                <div id="past-demos" class="demo-list"></div>
            </div>
            <div class="white-card">
                <h1>Future Demos</h1>
                <div id="future-demos" class="demo-list"></div>
            </div>
        </div>
    </div>
</body>
</html>