<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360 Home</title>

    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/common.css">

    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/cookie.js"></script>
    <script src="../js/navbar.js"></script>
	<script src="../js/redirects.js"></script>

</head>

<body class="body-home-page with-nav-bar">
    <nav> <!-- will be loaded by navbar.js --> </nav>
</body>

</html>