<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360 Home</title>
    <link href="/img/ico2.ico" rel="icon">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home.css">

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/navbar.js"></script>
	<script src="/js/redirects.js"></script>
	<script src="/js/home.js"></script>
	
</head>

<body class="body-home-page with-nav-bar">
    <nav> <!-- will be loaded by navbar.js --> </nav>
    <div class="spinner-container">
        <img id="spinner" src="/img/logo.png" alt="Spinning logo">
    </div>
</body>

</html>