<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360 Login</title>

    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login_register.css">

    <script src="../js/jquery-3.7.1.min.js"></script>
	<script src="../js/cookie.js"></script>
	<script src="../js/redirects.js"></script>
	<script src="../js/login.js"></script>

</head>

<body class="body-login-page">

    <div class="login-content">
        <form id="login-form"> 
            <!-- action="javascript:;" onsubmit="loginSubmit(this)" -->
            <a href="/">← Back to Home page</a>
            <h1>Log In</h1>
            <label for="login-input">Login</label>
            <input type="text" name="Login" id="login-input">
            <label for="password-input">Password</label>
            <input type="password" name="Password" id="password-input">
            <button class="black-button" type="submit">Log In</button>
            <a class="to-register-page" href="/register">... or Create new account</a>
        </form>
    </div>

</body>

</html>