<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360 Profile</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/profile.css">

    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/cookie.js"></script>
    <script src="../js/navbar.js"></script>
	<script src="../js/redirects.js"></script>
	<script src="../js/profile.js"></script>

</head>
<body class="body-profile-page with-nav-bar">
    <nav> <!-- will be loaded by navbar.js --> </nav>

    <div class="profile-content">
        <h1>{{last_name}} {{first_name}} {{father_name}}</h1>
        <button disabled>Change Password</button>
        <button class="log-out-button" onclick="logOut()">Log Out</button>
    </div>

</body>
</html>