<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360 Profile</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/profile.css">

    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/cookie.js"></script>
    <script src="../js/navbar.js"></script>
	<script src="../js/redirects.js"></script>
	<script src="../js/profile.js"></script>

</head>
<body class="body-profile-page with-nav-bar">
    <nav> <!-- will be loaded by navbar.js --> </nav>

    <div class="profile-content">
        <div class="account-card white-card">
            <h1>{{last_name}}</h1>
            <h1>{{first_name}}</h1>
            <h1>{{father_name}}</h1>
            <p>ID: #<i>{{id}}</i></p>
            {{!-- <button type="button" disabled>Change Password</button> --}}
            <button type="button" class="log-out-button" onclick="logOut()">Log Out</button>
        </div>
        <div id="invitations-card" class="invitations-card white-card">
            <h2>Team Invitations</h2>
        </div>

        {{!-- if no team, delete card --}}
        <div id="team-card" class="team-card white-card">
            <h1 id="team-id"></h1>
            <ul id="team-members" class="team-members"></ul>

            <button class="invite-button" type="button" onclick="openPopup()">Invite Members</button>
            <div class="popup">
                <div class="search-form">
                    <button class="round-button exit-button" type="button" onclick="closePopup();resetInput()">⤫</button>

                    <h3>Search by ID</h3>

                    <div class="search-bar">
                        <span>#</span>
                        <input type="text" name="ID" id="id-input" placeholder="0000">
                    </div>

                    <button type="button" class="send-invite-button" onclick="inviteMember()">Invite</button>
                </div>
            </div>

            <button class="leave-button" type="button" onclick="leaveTeam()">Leave Team</button>
        </div>
    </div>

</body>
</html>