<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>360 Sign Up</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../js/jquery-3.7.1.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/register.js"></script>
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<main class="form-signin w-100 m-auto">
		<form id="registerForm">
			<p class="fload-end mp-1">
				<a href="/" class="px-2">
					↩ To Home Page
				</a>
			</p>
			<!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
			<h1 class="h3 mb-3 fw-normal">Please sign Up</h1>

			<!-- First Name -->
			<div class="form-floating">
				<input type="text" class="form-control top-sign-up" id="firstNameInput" placeholder="First Name" required="required">
				<label for="firstNameInput">First Name</label>
			</div>
			<!-- Last Name -->
			<div class="form-floating">
				<input type="text" class="form-control" id="lastNameInput" placeholder="Last Name" required="required">
				<label for="lastNameInput">Last Name</label>
			</div>
			<!-- Father Name -->
			<div class="form-floating">
				<input type="text" class="form-control" id="fatherNameInput" placeholder="Father Name">
				<label for="fatherNameInput">Father Name</label>
			</div>
			<!-- Login -->
			<div class="form-floating">
				<input type="text" class="form-control" id="loginInput" placeholder="Login" required="required">
				<label for="loginInput">Login</label>
			</div>
			<!-- Password -->
			<div class="form-floating">
				<input type="password" class="form-control" id="passwordInput" placeholder="Password" required="required" minlength="8" maxlength="16">
				<label for="passwordInput">Password</label>
			</div>
			<input class="btn btn-primary w-100 py-2" type="submit" value="Sign Up">
			<p class="mt-5 mb-3 text-body-secondary">© 2023–2023</p>
		</form>
	</main>
</body>

</html>