<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360 Statistics</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/statistics.css">

    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/cookie.js"></script>
    <script src="../js/navbar.js"></script>
	<script src="../js/redirects.js"></script>
	<script src="../js/statistics.js"></script>
	
</head>

<body class="body-home-page with-nav-bar">
    <nav> <!-- will be loaded by navbar.js --> </nav>

    <div class="statistics-content white-card">
        <h1>Demo 0</h1>
    
        <div class="grades-container">
            <div class="ratio-cell">
              <div id="ratio-1" class="ratio">
                <p>0%</p>
              </div>
              <p>Сложность спринта</p>
            </div>
            <div class="ratio-cell">
              <div id="ratio-2" class="ratio">
                <p>0%</p>
              </div>
              <p>Уровень выполнения</p>
            </div>
            <div class="ratio-cell">
              <div id="ratio-3" class="ratio">
                <p>0%</p>
              </div>
              <p>Качество презентации</p>
            </div>
            <div class="ratio-cell">
              <div id="ratio-4" class="ratio">
                <p>0%</p>
              </div>
              <p>Доп. баллы</p>
            </div>
        </div>

        <h2>Comments</h2>

        <div id="comments-container">
        </div>
    </div>    
</body>

</html>