<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360 Voting</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/voting.css">
    <link rel="stylesheet" href="../css/ratios.css">
    <link rel="stylesheet" href="../css/graph.css">

    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/cookie.js"></script>
	<script src="../js/navbar.js"></script>
	<script src="../js/redirects.js"></script>
	<script src="../js/vote.js"></script>
	<script src="../js/graph.js"></script>

</head>
<body class="body-voting-page with-nav-bar">
    <nav> <!-- will be loaded by navbar.js --> </nav>

    <div class="voting-content">
        <div id="upper-voting-buttons" class="upper-voting-buttons"> <!-- Loaded by vote.js --> </div>
        <div id="voting-cards" class="voting-cards"> 
            <div id="statistics-card" class="card statistics-card">
                <h2>Real-Time Statistics</h2>
                <p>Updated every 10 seconds</p>
                <div class="grades-container">
                    <div class="ratio-cell">
                      <div id="ratio-1" class="ratio">
                        <p>0</p>
                      </div>
                      <p>Сложность спринта</p>
                    </div>
                    <div class="ratio-cell">
                      <div id="ratio-2" class="ratio">
                        <p>0</p>
                      </div>
                      <p>Уровень выполнения</p>
                    </div>
                    <div class="ratio-cell">
                      <div id="ratio-3" class="ratio">
                        <p>0</p>
                      </div>
                      <p>Качество презентации</p>
                    </div>
                    <div class="ratio-cell">
                      <div id="ratio-4" class="ratio">
                        <p>0</p>
                      </div>
                      <p>Доп. баллы</p>
                    </div>
                </div>
            </div>   

            <div id="graphs-card" class="card graphs-card">
                <h2>Your current grades</h2>
                <div id="graph" class="grades-graph"></div>
            </div>    

            <div id="in-team-voting-card" class="card voting-card">
                <h2>In-Team Voting</h2>
                <p>Rate your team members</p>
            </div>
        </div>
        <div id="lower-voting-buttons" class="lower-voting-buttons">
            <div id="in-team-voting-button" class="voting-button" onclick="showCard('in-team-voting-card', 'in-team-voting-button')">In-Team Voting</div>
        </div>
    </div>
</body>
</html>